.headerrow {
  padding: 50px 0 20px 0;
  &__headerline {
    display: inline-block;
    width: 100%;
    height: 5px;
    background-color: #73bcb7;
    margin-top: 16px;
  }
  &__headertitle {
    text-transform: uppercase;
    font-size: 28px;
    text-align: center;
    white-space: nowrap;
    margin: 0 10px;
  }
  &__headertext {
    font-size: 14px;
    color: #7b7b7b;
  }
}

.datablock {
  margin-bottom: 22px;
  &_curtitleblock {
    display: inline-block;
    margin-bottom: 10px;
    p {
      font-size: 16px;
      margin-bottom: 0;
      font-weight: bold;
    }
    div {
      height: 5px;
      width: 100%;
      background-color: #38bdb8;
    }
  }
  & > p {
    font-size: 14px;
    span {
      font-weight: bold;
    }
  }
}
.carouseblock {
  padding-bottom: 60px;
}

.admininputtext,
.admintextarea {
  label,
  input,
  textarea {
    display: block;
  }
  label {
    margin: 10px 0 0 0;
  }
  input {
    width: 50%;
  }
  textarea {
    width: 90%;
  }
}
.adminsavebtn {
  button {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    width: auto;
    background-color: #73bcb7;
    color: #fff;
    border-radius: 5px;
    margin-right: 20px;
    border: none;
    outline: none;
  }
  span {
    color: green;
  }
}

@media (max-width: 576px) {
  .headerrow {
    &__headerline {
      display: none;
    }
    &__headertitle {
      white-space: normal;
    }
  }
}
