.toppanorama__img {
  width: 100%;
  height: 430px;
}

.featuresblock {
  &__linkimageblock {
    width: 190px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}

.projectscarousel {
  height: 218px;
  position: relative;
  overflow: hidden;
  &__pictureswrappers {
    height: 100%;
    display: flex;
    width: fit-content;
    position: relative;
    transition: 0.5s;
    &_pictureblock {
      height: 100%;
      cursor: pointer;
      img {
        display: inline-block;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__arrowleftblock,
  &__arrowrightblock {
    height: 100%;
    width: 34px;
    opacity: 0.7;
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0; 
    z-index: 100;
    img {
      opacity: 0.5;
    }
  }
  &__arrowleftblock {
    left: 0;
    background-color: grey;
  }
  &__arrowrightblock {
    background-color: #73bcb7;
    right: 0;
  }
}

.projectscarouseldots {
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__dot {
    margin: 0 5px;
    background-color: #000;
    width: 10px;
    height: 10px;
    cursor: pointer;
  }
}

.bottompanorama{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  img{
    width: 100%;
    height: 100%;
  }
  &__learnmoreblock{
    position: absolute;
    width: 70%;
    height: 100%;
    background-color: #2a2b2d;
    transform: skew(10deg);
    &__datablock{
      width: 100%;
      height: 100%;
      transform: skew(-10deg);
      color: #fff;
    }
  }
}
