.featuresblock {
  &__linkimageblock {
    width: 190px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}

.projectscarousel {
  height: 218px;
  position: relative;
  overflow: hidden;
  &__pictureswrappers {
    height: 100%;
    display: flex;
    width: fit-content;
    position: relative;
    transition: 0.5s;
    &_pictureblock {
      height: 100%;
      cursor: pointer;
      img {
        display: inline-block;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__arrowleftblock,
  &__arrowrightblock {
    height: 100%;
    width: 34px;
    opacity: 0.7;
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 10;
    img {
      opacity: 0.5;
    }
  }
  &__arrowleftblock {
    left: 0;
    background-color: grey;
  }
  &__arrowrightblock {
    background-color: #73bcb7;
    right: 0;
  }
}

.projectscarouseldots {
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__dot {
    margin: 0 5px;
    background-color: #000;
    width: 10px;
    height: 10px;
    cursor: pointer;
  }
}

.bottompanorama {
  margin-top: 20px;
  height: 468px;
  position: relative;
  background-image: url("../../public//images//home/bottompanorama.jpg");
  background-position-y: -500px;
  background-position-x: -1100px;
  .insideblock {
    position: absolute;
    left: 30%;
    z-index: 100;
    top: 40px;
    width: 43%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80%;
  }
  &__wrappone {
    width: 45%;
    height: 100%;
    background-color: #2a2b2d;
    position: relative;
    transform: skew(9deg);
    right: -5%;
  }
  &__wrapptwo {
    width: 100%;
    height: 100%;
    background-color: #2a2b2d;
    position: absolute;
    transform: skew(-18deg);
    left: -15%;
  }
  .titlerow {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
    &__titleblock {
      width: 55%;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 0 10px;
      &_title {
        font-size: 25px;
        text-transform: uppercase;
        white-space: nowrap;
      }
      &_underlinetext {
        font-size: 18px;
      }
    }
    &__line {
      width: 100%;
      height: 5px;
      background-color: #73bcb7;
      margin-top: 12px;
    }
  }
  .textrow {
    text-align: center;
    color: #fff;
    width: 80%;
  }
  .btn {
    width: 220px;
    height: 50px;
    background-color: #38bdb8;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    span {
      margin-right: 10px;
    }
  }
}

@media (max-width: 1125px) {
  .bottompanorama {
    & > div {
      padding: 0;
    }
    &__wrappone {
      width: 100%;
      transform: skew(0deg);
      right: 0;
    }
    &__wrapptwo {
      transform: skew(0deg);
      left: 0;
    }
    .insideblock {
      width: 100%;
      left: 0;
      z-index: 1;
      padding: 0 20px;
    }
  }
}
@media (max-width: 554px) {
  .bottompanorama {
    .titlerow {
      justify-content: center;
      &__line {
        display: none;
      }
    }
  }
}
