.projectsection {
  margin: 30px 0 20px 0;
  max-width: 50%;
  &__subtitle {
    font-size: 14px;
    color: #86bd62;
    font-weight: bold;
    margin: 0;
  }
  &__title {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    cursor: default;
    position: relative;
    span {
      display: inline-block;
      padding: 5px 10px;
      background-color: #fff;
      position: absolute;
      border: 1px solid lightgray;
      border-radius: 5px;
      opacity: 0;
      transition: 0.5s;
    }
    p {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 2px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    div {
      height: 5px;
      background-color: #86bd62;
    }
  }
  &__title:hover span {
    opacity: 0.7;
  }
  &__imgblock {
    height: 260px;
    margin-bottom: 20px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__btn {
    display: flex;
    width: fit-content;
    align-items: center;
    height: 16px;
    font-size: 16px;
    text-transform: uppercase;
    color: #39bfb8;
    cursor: pointer;
    p {
      margin: 0 5px 0 0;
      font-weight: bold;
    }
    img {
      height: 16px;
    }
  }
}

.certainproject {
  padding: 80px 0 120px 0;
  &__subtitle {
    font-size: 12px;
    color: #86bd60;
    margin-bottom: 10px;
    font-weight: bold;
  }
  &__title {
    display: inline-block;
    margin-bottom: 20px;
    h3 {
      font-size: 24px;
    }
    div {
      height: 5px;
      width: 100%;
      background-color: #73bcb7;
    }
  }
  &__image {
    max-width: 464px;
    max-height: 280px;
    float: left;
    display: inline-block;
    padding: 0 10px 10px 0;
  }
  &__technology {
    margin-bottom: 10px;
    &_title {
      display: inline-block;
      p {
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: bold;
      }
      div {
        height: 5px;
        width: 100%;
        background-color: #73bcb7;
      }
    }
    &_data {
      font-size: 14px;
    }
  }
  &__link {
    margin-bottom: 10px;
    &_title {
      display: inline-block;
      p {
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: bold;
      }
      div {
        height: 5px;
        width: 100%;
        background-color: #73bcb7;
      }
    }
    &_links {
      a {
        color: #8dc36f;
        display: inline-block;
        margin-right: 10px;
      }
    }
  }

  &__text {
    font-size: 14px;
  }
  &__gobackbtn {
    clear: both;
    a {
      display: inline-block;
      padding: 10px 20px;
      color: #fff;
      background-color: #73bcb7;
    }
    a:hover {
      text-decoration: none;
    }
  }
}
